.snackbarFadeIn {
  animation: snackbar-fade-in 0.5s ease-in forwards;
}
.snackbarFadeOut {
  animation: snackbar-fade-out 0.5s ease-out forwards;
}

@keyframes snackbar-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes snackbar-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
